html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, strong, ul, li, article, footer, header, nav, section
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, footer, header, nav, section
{
	display: block;
}

body
{
	font: 13px/1.3 serif;
	font-size: small;
	height: auto;
}

html
{
	background: #f4f4f4;
	overflow-y: scroll; 
}

a, a:hover, a:active
{
	outline: none;
}

ul li
{
	margin-left: 3em;
}

nav ul, nav li, ul li
{
	margin: 0;
	list-style: none;
	list-style-image: none;
}

body
{
	font-family: "HelveticaNeue-light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "lucida Grande", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	line-height: 21px;
	color: #424242;
	text-shadow:#FFF 0 1.5px 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;	
}

h2
{
	font-size: 23px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

h3
{
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 10px 0;
}

a,a:active, a:visited
{
	color: #6EB038;
	text-decoration: none;
}

a:hover
{
	color: #424242;
}

.cuerpo
{
	background: none;
	display: block;
	margin: 0 auto;
	width: 70%;
}

.fila
{
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.menu_lateral
{
	width: 18%;
	float: left;
	border-right: medium solid #000000;
	margin-right: 60px;
}

.menu_lateral a, a:active
{
	color: #3e9c44;
}

.menu_lateral a:hover
{
	color: #424242;
}

.primer_parrafo
{
	margin-top: 15px;
}

.primera_columna
{
	margin-right: 5.2%;
	float: left;
	min-height: 1px;
}


.fila .primera_columna
{
	width: 50%;
}

.fila .segunda_columna
{
	width: 25%;
}

.ultima_columna
{
	margin-right: 0px;
}

.right
{
	float: right;
}

p
{
	margin: 5px 0 30px 0;
}

header.principal
{
	background: url(../imagenes/background.png) repeat;
	width: 100%;
	height: 100px;
	border-width: 0 0 1px;
	margin: 0;
	padding: 0;
	z-index: 200;
}

a.logo_principal
{
	width: 280px;
	height: 72px;
	float: left;
	background: url(../imagenes/logo_principal3.png) no-repeat;
	border-width: 0 1px 0 0;
	text-indent: -9999px;
	font-size: 0;
	text-decoration: none;
	margin: 20px 0 0;
	padding: 0 30px 0 0;
}

nav.navegacion_principal
{
	height: 40px;
	float: left;
	font-family: Rockwell, "Courier Bold";
	font-size: 20px;
	line-height: 42px;
	font-weight: 400;
	margin: 30px 0 0;
}

nav.right
{
	float: right;
	border: none;
}

nav.navegacion_principal ul li
{
	clear: right;
	float: left;
	margin: 0 0 0 30px;
	text-shadow : none;
}

nav.navegacion_principal ul li a:hover
{
	color: #bcbccb;
	text-decoration: none;
}

.button
{
   border-top: 1px solid #3e9c44;
   background: #3e9c44;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c44), to(#3e9c44));
   background: -webkit-linear-gradient(top, #3e9c44, #3e9c44);
   background: -moz-linear-gradient(top, #3e9c44, #3e9c44);
   background: -ms-linear-gradient(top, #3e9c44, #3e9c44);
   background: -o-linear-gradient(top, #3e9c44, #3e9c44);
   padding: 5px 10px;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   text-shadow:none;
}

.button:hover
{
   border-top-color: #bcbccb;
   background: #bcbccb;
   color: #ffffff;
   text-shadow:none;

}

.button:active
{
   border-top-color: #3e9c44;
   background: #3e9c44;
   text-shadow:none;
}

input
{
	border-radius: 19px;
}

#imagen_principal
{
	height: 400px;
	background: #737373;
	width: 100%;
	position: relative;
	float: left;
	z-index: 0;
	border: thin solid #0f0f0f;
	border-width: 0 0 1px;
}

.circulos
{
	background: url(../imagenes/fondofoto3.png) center repeat;
	width: 100%;
	height: 400px;
	z-index: 10;
}

.manzana
{
	background: url(../imagenes/manzana2.png) center no-repeat;
	width: 100%;
	height: 400px;
	z-index: 20;
}

#imagen_principal h2
{
	font-size: 60px;
	color: #e0e4cc;
	font-family: "Rockwell Extra Bold", Rockwell, "Courier Bold";
	font-weight: 900;
	line-height: 60px;
	text-shadow:none;
}

.boton_principal
{
   border-top: 1px solid #3e9c44;
   background: #3e9c44;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c44), to(#3e9c44));
   background: -webkit-linear-gradient(top, #3e9c44, #3e9c44);
   background: -moz-linear-gradient(top, #3e9c44, #3e9c44);
   background: -ms-linear-gradient(top, #3e9c44, #3e9c44);
   background: -o-linear-gradient(top, #3e9c44, #3e9c44);
   padding: 15px 30px;
   -webkit-border-radius: 23px;
   -moz-border-radius: 23px;
   border-radius: 23px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   margin: 50px 0 0;
   float: left;
}

.boton_principal:hover
{
   border-top-color: #bcbccb;
   background: #bcbccb;
   color: #fffaff;
}

.boton_principal:active
{
   border-top-color: #3e9c44;
   background: #3e9c44;
}

.introduccion
{
	width: 100%;
	height: 100px;
	float: left;
	background: url(../imagenes/background.png) 0 0 repeat-x;
	border: none;
	padding: 40px 0 0;
	margin: 0 0 50px;
}

.introduccion p
{
	color: #deeced;
	text-align: center;
	font-family: Rockwell, "Courier Bold", Courier;
	font-size: 33px;
	text-shadow: #000 0 1px 0;
	font-weight: lighter;
	letter-spacing: -0.015em;
	line-height: 51px;
	margin: 0;
	padding: 0;
}

.enlace_trabajos:hover
{
	color: #deeced;
}

.boton_desplegable
{
	color: #3e9c44;
}

footer
{
	background: url(../imagenes/background.png) 0 0 repeat-x;
	width: 142%;
	display: block;
	clear: both;
	text-shadow: none;
	color: #bcbcbc;
	margin: 0 auto;
	padding: 50px 0 0;
}

footer
{
	margin-left: -197px;
}

.logo_inferior
{
	width: 200px;
	height: 42px;
	float: left;
	background: url(../imagenes/logo_footer.png) no-repeat;
	text-indent: -9999px;
	font-size: 0;
	text-decoration: none;
	margin: -10px 0 0;
	padding: 0 20px 10px 0;
}

.direccion
{
	clear: both;
	line-height: 18px;
	font-size: 13px;
	text-align: right;
	letter-spacing: -0.01em;
}

.calle, .localidad
{
	clear: both;
}

.tel
{
	text-align: right;
	font-size: 21px;
	line-height: 30px;
	color: #bcbcbc;
	text-decoration: none;
	font-weight: 500;
}

.conectar
{
	padding: 0;
	float: left;
	margin: 40px 0 0;
	clear: none;
}

.conectar a.social
{
	width: 55px;
	height: 55px;
	float: left;
	font-size: 0;
	text-decoration: none;
	text-indent: -9999px;
	margin: 0 10px 0 0;
	outline: none;
	display: block;
	position: relative;
	padding: 0;
}

.conectar img
{
	width: 100%;
	height: auto;
	display: block;
}

.conectar img.rollover
{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.conectar a:hover img.rollover
{
	opacity: 1;
}

.conectar a:hover img.rollout
{
	opacity: 0;
}